.header-box{
    width: 100%;
    position: fixed;
    text-align: center;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;

    button{
        border: none;
        float: left;
        background: transparent;
    }
}