.chat-container{
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.chat-box{
    display: flex;
    align-items: center;
    padding-bottom: 10px;

    img{
        width: 30px;
    }
}

.content{
    padding: 5px 15px;
    border-radius: 50px;
    margin: 10px;
    font-size: 16px;
}

.user-info{
    div{
        font-size: 11px;
    }
}

.mine{
    .content{
        background-color: #FFE27B;
        margin-right: 0;
    }

    .user-info{
        display: none;
    }

    display: flex;
    justify-content: right;
}

.others{
    .content{
        background-color: #d9d9d9;
    }
}

.input-bar{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: #FFE27B;
    position: absolute;
    bottom: 0;

    input{
        margin-left: 6px;
        height: 25px;
        width: 100%;
        border: none;
        border-radius: 50px;
    }

    button{
        width: 45px;
        border: none;
        background-color: transparent;
    }

    img{
        width: 100%;
    }

}

.page-container{
    height: calc(100vh - 30px);
    width: 100%;
    position: relative;
}

