.hot_post {
    width: 100%;
    max-width: 600px;
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
    height: 100vh;

    .hot_post_container {
        height: 100%;
        padding: 20px 75px 35px;
        overflow-y: auto;

        .header-box {
            max-width: 600px;
            left: 50%;
            top: 50px;
            transform: translate(-50%, 0);
        }
        

            
            
        }
    }
    
}

    



