
html,body{
    margin:0;
    padding:0;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;  
    background-color: #FFE68B;
    position: relative; 
}

.login-form{
    background-color: #fff;
padding: 2rem;
border-radius: 10px;
height: 60%;
width: 20%;
text-align: center  ;
}
.login-form p{
    margin-top: 1rem;
}

h1,h2,p{
    text-align: left;
}

 .form-group{
    margin-bottom: 1rem;
    text-align: left;
}
.form-group label{
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 3rem;
    font-weight: bold;
    font-size:1rem
    
}
.form-group input{
    width: 100%;
    height: 40px;
    padding: 0.5rem;
    font-size: 1rem;
    border:1px solid;
    border-radius: 5px;
}

.login-form h1 {
    margin-bottom: 5px
}
button{
    width: 90%;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-top: 5rem;
    cursor:pointer;
}
button.password-toggle {
    background: none; 
    border: none; 
    cursor: pointer; 
    margin-left: 8px; 
    font-size: 1.2rem; 
}
.singup-link{ 
    text-align: center;
    margin-top:7rem
}
