@mixin center {
    display: flex;
    width: 100%;
}

.map-container {
    @include center;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
    width: 100%;
    height: 50vh;

    .button-container {
        @include center;
        justify-content: center;
        margin-top: 75px; 
    }

    @media (max-width: 1440px) {
        //이어서 수정할 거 1
    }

    @media (max-width: 600px) {
        // 이어서 수정할 거 2
    }
}
