.map-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    margin-left: 50px;

    .map-button-container { 
        display: flex;
        justify-content: center;
        gap: 15px; 
        margin-top: 75px;

        .add-marker-button, 
        .delete-marker-button {
            display: flex;
            justify-content: center;
            padding: 3px 30px;
            background-color: white;
            border: solid black 1.5px;
            border-radius: 10px;
            font-size: 15px;
            font-weight: bold;
            transition: background-color 0.3s, color 0.3s;

            &:hover {
                background-color: black;
                color: white;
            }

            &.disabled {
                background-color: grey;
                color: white;
                cursor: not-allowed;
                border-color: grey;

                &:hover {
                    background-color: grey;
                    color: white;
                }
            }
        }
    }

    @media (max-width: 1440px) {
        width: calc(100% - 50px);
        height: calc(100vh - 55px);
    }

    @media (max-width: 600px) {
        margin-left: 0;
        width: 100%;
        height: calc(100vh - 55px);
    }
}
