.content-box{
    padding-top: 63px;

    .button-box {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 15px;

        img{
            width: 30px;
            margin: 0 auto;
        }
    }

    textarea{
        width: 100%;
        height: calc(100vh - 50px - 63px - 45px - 63px);
        border: none;
        border-top: 1px solid #d9d9d9;
        padding: 15px 20px;
    }

    button{
        width: 100%;
        max-width: 600px;
        height: 35px;
        position: fixed;
        bottom: 0px;
        border: none;
        background-color: #FFE68B;
        border-radius: 5px 5px 0 0;
    }
}

