.chat-container {
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

.chat-box {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.chat-box img {
  width: 30px;
}

.content {
  padding: 5px 15px;
  border-radius: 50px;
  margin: 10px;
  font-size: 16px;
}

.user-info div {
  font-size: 11px;
}

.mine {
  display: flex;
  justify-content: right;
}
.mine .content {
  background-color: #FFE27B;
  margin-right: 0;
}
.mine .user-info {
  display: none;
}

.others .content {
  background-color: #d9d9d9;
}

.input-bar {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  background-color: #F2F2F2;
  position: absolute;
  bottom: 0;
  padding: 0 10px;
  max-width: 600px;
  justify-content: center;
}
.input-bar input {
  margin-left: 6px;
  height: 25px;
  width: 100%;
  border: none;
  border-radius: 50px;
}
.input-bar button {
  width: 35px;
  border: none;
  background-color: transparent;
}
.input-bar img {
  width: 100%;
  margin-left: 5px;
}

.page-container {
  max-width: 600px;
  background-color: #FFFFFF;
  margin: 0 auto;
  height: calc(100vh - 30px);
  width: 100%;
}

.chat-page {
  display: flex;
  justify-content: center;
}