.main-container {
  margin: 0 auto;
}

.main-page-container {
  box-sizing: border-box;
  max-width: 600px;
  background-color: #FFFFFF;
  margin: 0 auto;
  height: calc(100vh - 63px);
  width: 100%;
}

.post_area {
  background: #fff;
  padding: 25px 75px 160px;
  max-width: 600px;
  height: 100%;
  overflow-y: auto;
}
.post_area::-webkit-scrollbar-thumb {
  border-radius: 3.5px;
  background-color: #FFE68B;
}
.post_area::-webkit-scrollbar-thumb:hover {
  background-color: #ffdc5f;
}
.post_area::-webkit-scrollbar-track {
  background: #d9d9d9;
}

.post_add {
  width: 45px;
  height: 45px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  border: none;
  background: #000;
  border-radius: 50%;
  color: #fff;
  font-size: 45px;
  line-height: 48px;
  text-align: center;
}
.post_add a {
  color: #FFFFFF;
  text-decoration: none;
}
.post_add a :visited {
  color: #FFFFFF;
}