.nav {
  width: 50px;
  height: 100%;
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 150px;
}
.nav ul li:nth-child(1) {
  width: 25px;
  height: 25px;
  background: center/100% no-repeat;
  background-image: url("../../assets/nav1.svg");
  margin: 0 auto 50px;
}
.nav ul li:nth-child(2) {
  width: 25px;
  height: 25px;
  background: center/100% no-repeat;
  background-image: url("../../assets/nav2.svg");
  margin: 0 auto 50px;
}
.nav ul li:nth-child(3) {
  width: 25px;
  height: 25px;
  background: center/100% no-repeat;
  background-image: url("../../assets/nav3.svg");
  margin: 0 auto 50px;
}
.nav ul li:nth-child(4) {
  width: 25px;
  height: 25px;
  background: center/100% no-repeat;
  background-image: url("../../assets/nav4.svg");
  margin: 0 auto 50px;
}
.nav ul li:nth-child(5) {
  width: 25px;
  height: 25px;
  background: center/100% no-repeat;
  background-image: url("../../assets/nav5.svg");
  margin: 0 auto 50px;
}
.nav ul li:nth-child(6) {
  width: 25px;
  height: 25px;
  background: center/100% no-repeat;
  background-image: url("../../assets/nav6.svg");
  margin: 0 auto 50px;
}
.nav ul li:nth-child(7) {
  width: 25px;
  height: 25px;
  background: center/100% no-repeat;
  background-image: url("../../assets/nav7.svg");
  margin: 0 auto 50px;
}
.nav ul li:nth-child(1).on {
  width: 25px;
  height: 25px;
  background: center/100% no-repeat;
  background-image: url("../../assets/nav_on1.svg");
  margin: 0 auto 50px;
}
.nav ul li:nth-child(2).on {
  width: 25px;
  height: 25px;
  background: center/100% no-repeat;
  background-image: url("../../assets/nav_on2.svg");
  margin: 0 auto 50px;
}
.nav ul li:nth-child(3).on {
  width: 25px;
  height: 25px;
  background: center/100% no-repeat;
  background-image: url("../../assets/nav_on3.svg");
  margin: 0 auto 50px;
}
.nav ul li:nth-child(4).on {
  width: 25px;
  height: 25px;
  background: center/100% no-repeat;
  background-image: url("../../assets/nav_on4.svg");
  margin: 0 auto 50px;
}
.nav ul li:nth-child(5).on {
  width: 25px;
  height: 25px;
  background: center/100% no-repeat;
  background-image: url("../../assets/nav_on5.svg");
  margin: 0 auto 50px;
}
.nav ul li:nth-child(6).on {
  width: 25px;
  height: 25px;
  background: center/100% no-repeat;
  background-image: url("../../assets/nav_on6.svg");
  margin: 0 auto 50px;
}
.nav ul li:nth-child(7).on {
  width: 25px;
  height: 25px;
  background: center/100% no-repeat;
  background-image: url("../../assets/nav_on7.svg");
  margin: 0 auto 50px;
}