.header-box {
  box-sizing: border-box;
  width: 100%;
  max-width: 570px;
  position: fixed;
  text-align: center;
  align-items: center;
  padding: 16px 10px;
  font-size: 18px;
  font-weight: 600;
  z-index: 100;
  background-color: #FFFFFF;
}
.header-box button {
  border: none;
  float: left;
  background: transparent;
}
.header-box span {
  padding-right: 11px;
}