.page-container {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  padding-top: 57.2px;
  max-width: 600px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.button-container button {
  padding-right: 20px;
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.folder-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.folder-box {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.folder-box .folder {
  width: 90%;
}
.folder-box .folder img {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}